/.vs
/Library
/Logs
/obj
/Packages
/Temp
/.vsconfig
/Assembly-CSharp.csproj
/Assembly-CSharp.Player.csproj
/Framework.csproj
/Framework.Player.csproj
/Logic.Framework.csproj
/Logic.Framework.Player.csproj
/New Unity Project.sln
/Unity.CollabProxy.Editor.csproj
/Unity.Rider.Editor.csproj
/Unity.TextMeshPro.csproj
/Unity.TextMeshPro.Editor.csproj
/Unity.Timeline.csproj
/Unity.Timeline.Editor.csproj
/Unity.VSCode.Editor.csproj
/UnityEditor.TestRunner.csproj
/UnityEditor.UI.csproj
/UnityEngine.TestRunner.csproj
/UnityEngine.UI.csproj
/Logic.Editor.csproj
/Logic.Editor.Player.csproj
/Unity-UGUI-UI.sln
/.idea
/ProjectSettings/ProjectVersion.txt
/Logic.Hotfix.csproj
/packages.config
/Logic.Hotfix.Player.csproj
/MemoryCaptures/Snapshot-637633786471746167.png
/MemoryCaptures/Snapshot-637633786471746167.snap
/ShaderProfiler.csproj
/Unity.2D.Sprite.Editor.csproj
/Unity.2D.Tilemap.Editor.csproj
/Unity.Analytics.DataPrivacy.csproj
/Unity.BuildReportInspector.Editor.Mobile.csproj
/Unity.BuildReportInspector.Editor.csproj
/Unity.EditorCoroutines.Editor.csproj
/Unity.MemoryProfiler.Editor.csproj
/Unity.MemoryProfiler.csproj
/Unity.Mobile.AndroidLogcat.Editor.csproj
/Unity.Performance.Profile-Analyzer.Editor.csproj
/Unity.ScriptableBuildPipeline.Editor.csproj
/Unity.ScriptableBuildPipeline.csproj
/UnityEditor.CacheServer.csproj
/UnityEditor.SpatialTracking.csproj
/UnityEditor.XR.LegacyInputHelpers.csproj
/UnityEngine.Advertisements.csproj
/UnityEngine.Monetization.csproj
/UnityEngine.SpatialTracking.csproj
/UnityEngine.XR.LegacyInputHelpers.csproj
/UserSettings/AndroidLogcatSettings.asset
/com.unity.multiplayer-hlapi.Editor.csproj
/com.unity.multiplayer-hlapi.Runtime.csproj
/com.unity.multiplayer-weaver.Editor.csproj
/UserSettings
/MemoryCaptures
/ABOutput
/*.csproj
/Utility/FileSplitter/.vs/FileSplitter/DesignTimeBuild/.dtbcache.v2
/Utility/FileSplitter/.vs/FileSplitter/v16/.suo
/Utility/FileSplitter/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Utility/FileSplitter/obj/Debug/netcoreapp3.1/FileSplitter.AssemblyInfo.cs
/Utility/FileSplitter/obj/Debug/netcoreapp3.1/FileSplitter.AssemblyInfoInputs.cache
/Utility/FileSplitter/obj/Debug/netcoreapp3.1/FileSplitter.csproj.AssemblyReference.cache
/*.sln
/Hotfix/obj/Debug/.AssemblyReference.cache
/Hotfix/obj/Debug/.NETFramework,Version=v4.7.1.AssemblyAttributes.cs
/Hotfix/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Hotfix/obj/Debug/Hotfix.csproj.AssemblyReference.cache
/Hotfix/.vs
/Hotfix/bin
/Hotfix/obj
/Assets/Scripts/Runtime/ILRuntime/Bindings/Analysis.meta
/Assets/Scripts/Runtime/ILRuntime/Bindings/Analysis
/Assets/3rd/ShaderControl/Editor/Resources/BuiltShaders.asset
/Server/.vs
/Server/Server/obj
/Server/Server/bin
/Hotfix/Script/Logic/HotReload/bin
/Hotfix/Script/Logic/HotReload/obj
/Hotfix/.idea/.idea.Hotfix/.idea/.gitignore
/Hotfix/.idea/.idea.Hotfix/.idea/encodings.xml
/Hotfix/.idea/.idea.Hotfix/.idea/indexLayout.xml
/Hotfix/.idea/.idea.Hotfix/.idea/vcs.xml
/Logic.Framework.csproj.DotSettings
/*.user
/Assets/AssetGraph.meta
/Assets/AssetGraph
